/* Color Sceme:
	Dark Blue:   #144661
	Light Blue:  #1FCFCC
	Light Red:   #ED5C5F
	Light Green: #7FF0B6
*/

/* Layout inspired by heckhouse.com*/
a {
	text-decoration: none;
}

/********************************************/
/************ HEADER ************************/
/********************************************/

header.opener {
	position: relative;
	width: 1890px;
	height: 1080px;
	background-color: transparent;
	background-image: url(toby.jpg);
}

header.opener h1 {
	position: absolute;
	color: hsl(160,80%,40%);
	top: 420px;
	left: 620px;
	font-size: 70px;
}

header.opener a {
	position: absolute;
	color: hsl(160,80%,40%);
	top: 535px;
	left: 630px;
	font-size: 70px;
	padding: 8px 30px 5px 30px; /* T R B L*/
	border: 6px solid hsl(160,80%,40%);
	background-color: hsla(160,40%,40%,0.25);
	transition: 200ms;
}

header.opener a:hover {
	background-color: hsla(160,40%,15%,0.50);
	transition: 300ms;
}

/********************************************/
/************ LINKS **************************/
/********************************************/

section#links {
	position: relative;
	height: 1080px;
	width: 1890px;
	background-color: black;
}

.one {
	height: 270px;
	width: 270px;
}

.two {
	height: 270px;
	width: 1080px;
}

.three {
	height: 540px;
	width: 380px;
}

.four {
	height: 270px;
	width: 380px;
}

.five {
	height: 405px;
	width: 590px;
}

.six {
	height: 540px;
	width: 270px;
}

/******** Individual Blocks ****************/

#A {
	position: absolute;
	left: 0px;
	top: 0px;
}

#B {
	position: absolute;
	left: 270px;
	top: 0px;
}

#C {
	position: absolute;
	left: 1350px;
	top: 0px;
}

#D {
	position: absolute;
	left: 1620px;
	top: 0px;
}

#E {
	position: absolute;
	left: 0px;
	top: 270px;
}

#F {
	position: absolute;
	left: 380px;
	top: 270px;
}

#G {
	position: absolute;
	left: 650px;
	top: 270px;
}

#H {
	position: absolute;
	left: 1240px;
	top: 270px;
}

#I {
	position: absolute;
	left: 1510px;
	top: 270px;
}

#J {
	position: absolute;
	left: 0px;
	top: 810px;
}

#K {
	position: absolute;
	left: 270px;
	top: 810px;
}

#L {
	position: absolute;
	left: 380px;
	top: 540px;
}

#M {
	position: absolute;
	left: 650px;
	top: 675px;
}

#N {
	position: absolute;
	left: 1240px;
	top: 540px;
}

#P {
	position: absolute;
	left: 1510px;
	top: 810px;
}




